* {
  box-sizing: border-box;
}

body {
  color: #2C3131;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 20px 45px 45px 45px;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
}

header {
  margin: 50px 0;
}

header h2 {
  text-transform: lowercase;
}

header p {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main li {
  border: 1px solid crimson;
  height: 250px;
}

a {
  font-size: 1.3rem;
  color: #BD0B29;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

h2 a {
  color: #2C3131;
}

h2 a:hover {
  text-decoration: none;
}

.projects h3 {
  text-align: center;
  margin-bottom: 20px;
}

.projects .container ul {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}

.projects .container li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.project__title {
  flex-grow: 1;
  margin-top: 5px;
  order: 2;
  text-align: center;
}

.project__description {
  color: #2C3131;
  flex-grow: 1;
  font-size: 1.15rem;
  line-height: 2rem;
  order: 2;
  margin: 20px;
}

.img {
  background-color: #EEE;
  height: 150px;
  order: 1;
  width: 100%;
}

.contact {
  margin-bottom: 0;
}

.social-media ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.social-media li {
  margin: 10px;
  padding: 10px;
}

.social-media a {
  font-size: 1rem;
  text-transform: lowercase;
}

@media screen and (min-width: 600px) {
  .social-media ul {
    flex-direction: row;
  }

  .social-media li {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 25px 25px 75px 25px;
  }
}
