* {
  box-sizing: border-box;
}

body {
  background-color: #BBF4F7;
  background: linear-gradient(180deg, #BBF4F7, #fff);
  color: #2C3131;
  font-family: 'Khula', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 2.6em;
  text-align: center;
}

h2 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  padding-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  color: #BD0B29;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 a {
  color: #2C3131;
}

h2 a:hover {
  text-decoration: none;
}

section {
  min-height: 400px;
}

.main {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  /*margin-left: auto;
  margin-right: auto;*/
  text-align: center;
}

/*.contact {
  min-height: 400px;
}*/

nav ul {
  display: flex;
  flex-direction: column;
}

nav li {
  margin: 10px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.projects .container ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects .container li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__title {
  font-size: 1.2em;
  text-align: center;
}

.project__description {
  padding-bottom: 20px;
}

.social-media ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media li {
  margin: 10px;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  nav ul {
    flex-direction: row;
  }

  .projects .container li {
    align-items: baseline;
    flex-direction: row;
  }

  .project__title {
    text-align: right;
    width: 150px;
  }

  .project__description {
    padding: 0 10px 20px 10px;
    width: 340px;
  }

  .social-media ul {
    flex-direction: row;
  }

  .social-media li {
    padding: 20px;
  }
}

@media screen and (min-width: 800px) {
  .project__title {
    width: 300px;
  }

  .project__description {
    width: 550px;
  }
}
